body{
    background-color:#dcdcdc;
}
@mixin btn{
    cursor: pointer;
    width: 50%;
}
@mixin form{
    display: inline-block;
    width: 30%;
    background-color: purple;
    & .username{
        display: block;
        background-color: yellow;
    }
    & .password{
        display: block;
        background-color: orange;
    }
    & .user{
        display: block;
        width: 100%;
    }
}

.header {
    font-family: 'Rubik Dirt', cursive;
    font-size: 10vh;
    background-color: #808080;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 150px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
    & a{
        text-decoration: none;
        color: black;
    }
}
.container {
    float:right;
    width: 70%;
    background-color: #eeff1b;
}
.navMenu{
    width:30%;
}
.menuContent{
    border: 1px solid black;
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    border: 1px solid gray;
    align-items: center;
    background-color: #989898;
    color: #eeff1b;
    h3{
        font-size: 3vh;
        font-family: 'Rubik Dirt', cursive;
        color: black;
    }
}
.card {
    border: 1px solid gray;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
    border-radius: 8px;
    align-items: center;
    height: 7vh;
    &:hover {
        border: 1px solid black;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
        border-radius: 8px;
        height: 8vh;
        align-items: center;
        transition: 1s;
    }
    a{
        text-decoration:none;
        color: inherit;
    }
}
.loginForm {
   @include form;
}

.logBtn{
   @include btn;
    background-color: red;
    
}
.regBtn{
    @include btn;
    background-color: green;
    float: right;
}
.formLogBtn {
 @include btn;
}
.formRegBtn {
@include btn;
}
